@media screen and (min-width: 760px) {
    
    main {
        display: grid;
        grid-template-columns: 450px 1fr;
    }

    /* experience section */
    .experience, .skills{
        padding: 2rem;
    }

     /* experience section */
    .skills .card-body{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 1rem;
    }

}