/* https://coolors.co/palette/8ecae6-219ebc-023047-ffb703-fb8500 */

:root{
    --primary-color: #023047;
    --secondary-color: #FB8500;
    --accent-color1: #219EBC;
    --accent-color2: #FFB703;
    --accent-color3: #8ECAE6;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
}

a {
    text-decoration: none;
}


/* header styling */
header {
    background-color: var(--accent-color3);
    color: #fff;
    position: relative;
}

header h1{
    background-color: var(--primary-color);
    padding: 1rem;
}

.navigation {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    list-style: none;
}

.navigation a{
    display: none;
    font-size: 1rem;
    color: #000;
    padding: 1rem;
    text-align: center;
}

.navigation a:hover, .navigation a.active {
    background-color: var(--secondary-color);
    color: #000;
}

/* styling humburger */
#menu{
    font-size: 1.5rem;
    background-color: var(--secondary-color);
    color: #000;
    position: absolute;
    top: 20px;
    right: 0px;
    padding: 0px 0.6rem;
    margin-right: 0.6rem;
}

#menu::before {
    content: "☰";
}

.open a {
    display: block;
}

#menu.open::before {
    content: "X";
}

/* =================== MAIN =================== */

/* presentation section */
.presentation {
    padding: 3rem;
    background-color: var(--accent-color2);
}

.presentation h2{
    font-size: 1.5rem;
    text-align: center;
    padding-bottom: 2rem;

}

/* footer */
footer{
    padding: 1.5rem;
    background-color: var(--secondary-color);
    text-align: center;
}