/* https://coolors.co/e63946-f1faee-a8dadc-457b9d-1d3557 */

:root{
    --var-primary-color: #023047;
    --var-secondary-color: #FB8500;
    --var-accent-color1: #219EBC;
    --var-accent-color2: #FFB703;
    --var-accent-color3: #8ECAE6;
}



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
}

/* header styling */

header {
    background-color: var(--var-primary-color);
    color: #fff;
    padding: 1rem;
}

h1 {
    text-align: center;
}

/* main styling */

main {
    padding: 1rem;
}

main img {
    width: 100%;
    height: auto;
}

section {
    padding: 2rem;
    margin-bottom: 2rem;
    box-shadow: 2px 2px 10px #eee;
}

section h2{
    color: var(--var-primary-color);
    padding-bottom: 0.5rem;
}

section p {
    color: var(--var-primary-color);
    text-align: justify;
}

section ul {
    list-style: none;
    color: var(--var-primary-color);
}

section ul li{
    padding: 0.2rem;
}

.schema span{
    display: inline-block;
    width: 100px;
    height: 50px;
    text-align: center;
    padding-top: 1rem;
}

.schema strong{
    display: inline-block;
    width: 150px;
}

.primary-color span {
    background-color: var(--var-primary-color);
    color: #fff;
}

.secondary-color span {
    background-color: var(--var-secondary-color);
    color: #000;
}

.accent-color1 span {
    background-color: var(--var-accent-color1);
    color: #fff;
}

.accent-color2 span {
    background-color: var(--var-accent-color2);
    color: #000;
}

.accent-color3 span {
    background-color: var(--var-accent-color3);
    color: #000;
}

.wireframes h3 {
    font-size: 1rem;
    padding: 1rem;
}

footer{
    padding: 1.5rem;
    background-color: var(--var-secondary-color);
    text-align: center;
}