/* https://coolors.co/009e49-67b78c-333333-e6e0dd-ff7f32 */

:root{
  --primary-color: #009E49;
  --secondary-color: #FF7F32;
  --accent-color1 : #67B78C;
  --accent-color2 : #E6E0DD;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Roboto", serif;
}

/* style header */
header {
    background-color: var(--secondary-color);
    padding: 2rem;
    border-bottom: 10px solid #009E49;
}

h1 {
    text-align: center;
}

/* style main */
.hero img {
    display: block;
    width: 100%;
    height: auto;
    border-bottom: 4px solid #FF7F32;
}

h2 {
    text-align: center;
    padding: 1rem;
}

.card {
    padding: 2rem 0px;
    border-bottom: 2px solid var(--accent-color2);
}

.card-header img{
    display: block;
    margin: 0 auto;
}

.card-body ul {
    font-size: 16px;
    list-style: none;
}

.card-body li{
    display: flex;
    justify-content: center;
}

.card-body strong {
    text-align: right;
    padding-right: 10px;
    width: 50%;
}

.card-body span{
    text-align: left;
    width: 50%;
  
}

/* footer style */
footer {
    background-color: var(--primary-color);
    padding: 2rem;
    font-size: 16px;
    text-align: center;
}